<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">

		<!-- Title -->
		<title>Forex Scraping | Live Data</title>

		<!-- Dashboard css -->
		<link href="{{ url_for('static', filename='assets/css/dashboard.css') }}" rel="stylesheet" />

		<!-- Font family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

		<!--C3 Charts css -->
        <link href="{{ url_for('static', filename='assets/plugins/charts-c3/c3-chart.css') }}" rel="stylesheet" />
        
        <!-- Data table css -->
		<link href="{{ url_for('static', filename='assets/plugins/datatable/dataTables.bootstrap4.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/datatable/responsivebootstrap4.min.css') }}" rel="stylesheet" />

		<!-- Slect2 css -->
		<link href="{{ url_for('static', filename='assets/plugins/select2/select2.min.css') }}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
        <link href="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />

		<!--Horizontal css -->
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/dropdown-effects/fade-down.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.css') }}" rel="stylesheet" />

		<!---Font icons css-->
		<link href="{{ url_for('static', filename='assets/plugins/iconfonts/plugin.css') }}" rel="stylesheet" />
		<link  href="{{ url_for('static', filename='assets/fonts/fonts/font-awesome.min.css') }}" rel="stylesheet">

	</head>
	<body class="app sidebar-mini rtl">

		<!--Global-Loader-->
		<div id="global-loader"></div>

		<div class="page">
			<div class="page-main">
				<!--Horizontal-menu-->
				<div class="horizontal-main clearfix">
					<div class="horizontal-mainwrapper container clearfix">
						<nav class="horizontalMenu clearfix">
							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="/" class="">Live Data</a></li>
								<li aria-haspopup="true"><a href="/scrappers" class="">Scrappers</a></li>
							</ul>
						</nav>
						<!--Menu HTML Code-->
					</div>
				</div>

                <!--content-area-->
				<div class="content-area">
					<div class="container">

					    <!-- page-header -->
						<div class="page-header">
							<h4 class="page-title">Outlook By Country</h4>
						</div>
						<!-- End page-header -->
                        <!-- row -->
						<div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">{{ name }}</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_myfxbook" class="table table-striped table-bordered text-nowrap w-100">
                                                <thead>
                                                    <tr>
														<th class="wd-15p">Country Code</th>
														<th class="wd-15p">LongVolume</th>
                                                        <th class="wd-15p">ShortVolume</th>
                                                        <th class="wd-15p">LongPositions</th>
														<th class="wd-15p">ShortPositions</th>
														<th class="wd-15p">Date</th>
														<th class="wd-15p">Time</th>
                                                    </tr>
                                                </thead>
                                                {% for data in outlook_by_country_data %}
                                                <tbody>
                                                    <tr>
                                                        <td>{{ data[2] }}</td>
                                                        <td>{{ data[3] }}</td>
                                                        <td>{{ data[4] }}</td>
                                                        <td>{{ data[5] }}</td>
                                                        <td>{{ data[6] }}</td>
														<td>{{ data[7] }}</td>
														<td>{{ data[8] }}</td>
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

					</div>
				</div>
                <!-- End content-area-->
            </div>
		</div>
		<!-- End Page-->

		<!-- Back to top -->
        <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

        <!-- Jquery js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery-3.2.1.min.js') }}"></script>
		
		<!--Bootstrap js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/bootstrap.bundle.min.js') }}"></script>
		
		<!--Jquery Sparkline js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/jquery.sparkline.min.js') }}"></script>
		
		<!-- Chart Circle js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/circle-progress.min.js') }}"></script>
		
		<!-- Star Rating js-->
		<script src="{{ url_for('static', filename='assets/plugins/rating/jquery.rating-stars.js') }}"></script>
		
		<!-- Custom scroll bar js-->
		<script src="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
		
		<!--Horizontal js-->
        <script src="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.js') }}"></script>
        
        <!-- Data tables js-->
		<script src="{{ url_for('static', filename='assets/plugins/datatable/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/dataTables.bootstrap4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/datatable.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/datatable-2.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/datatable/dataTables.responsive.min.js') }}"></script>
        
        <!-- Select2 js -->
        <script src="{{ url_for('static', filename='assets/plugins/select2/select2.full.min.js') }}"></script>
        

		<!-- Custom js -->
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

	</body>
</html>