<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">

		<!-- Title -->
		<title>Forex Scraping | Live Data</title>

		<!-- Dashboard css -->
		<link href="{{ url_for('static', filename='assets/css/dashboard.css') }}" rel="stylesheet" />

		<!-- Font family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

		<!--C3 Charts css -->
        <link href="{{ url_for('static', filename='assets/plugins/charts-c3/c3-chart.css') }}" rel="stylesheet" />
        
        <!-- Data table css -->
		<link href="{{ url_for('static', filename='assets/plugins/datatable/dataTables.bootstrap4.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/datatable/responsivebootstrap4.min.css') }}" rel="stylesheet" />

		<!-- Slect2 css -->
		<link href="{{ url_for('static', filename='assets/plugins/select2/select2.min.css') }}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
        <link href="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />

		<!--Horizontal css -->
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/dropdown-effects/fade-down.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.css') }}" rel="stylesheet" />

		<!---Font icons css-->
		<link href="{{ url_for('static', filename='assets/plugins/iconfonts/plugin.css') }}" rel="stylesheet" />
		<link  href="{{ url_for('static', filename='assets/fonts/fonts/font-awesome.min.css') }}" rel="stylesheet">

	</head>
	<body class="app sidebar-mini rtl">

		<!--Global-Loader-->
		<div id="global-loader"></div>

		<div class="page">
			<div class="page-main">
				<!--Horizontal-menu-->
				<div class="horizontal-main clearfix">
					<div class="horizontal-mainwrapper container clearfix">
						<nav class="horizontalMenu clearfix">
							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="/" class="">Live Data</a></li>
								<li aria-haspopup="true"><a href="/scrappers" class="">Scrappers</a></li>
							</ul>
						</nav>
						<!--Menu HTML Code-->
					</div>
				</div>

                <!--content-area-->
				<div class="content-area">
					<div class="container">

					    <!-- page-header -->
						<div class="page-header">
							<h4 class="page-title">Forex Live Data</h4>
						</div>
						<!-- End page-header -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">XM</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_xm" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Dukascopy</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_dukascopy" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->
                        <!-- row -->
						<div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Forexfactory</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_forexfactory" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Tradecaptain</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_tradecaptain" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Dailyfx</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_dailyfx" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Myfxbook</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_myfxbook" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Saxo 1</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_saxo_1" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Saxo 2</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_saxo_2" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Saxo 3 ATM VOLATILITIES</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_saxo_3_atm" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Saxo 3 25-DELTA RISK REVERSAL</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_saxo_3_25_delta" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->
                        
                        <!-- row -->
						<div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Oanda</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="forex_data_oanda" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->

					</div>
				</div>
                <!-- End content-area-->
                <!-- Large Modal -->
                <div id="largeModal" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header pd-x-20">
                                <h6 class="modal-title">Info</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pd-20">
                                <textarea id="output" rows="5" class="form-control" placeholder="Searching for Not Applied Housings" ></textarea>
                            </div><!-- modal-body -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div><!-- modal-dialog -->
                </div><!-- modal -->

                <!-- Large Modal -->
                <div id="largeModal_housing" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header pd-x-20">
                                <h6 class="modal-title">Info</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pd-20">
                                <div class="grid-margin">
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table card-table  table-success table-vcenter text-nowrap  align-items-center">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Outlook By Country</th>
                                                    </tr>
                                                </thead>
                                                <tbody id = "output_housing_table">
                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- modal-body -->
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div><!-- modal-dialog -->
                </div><!-- modal -->
            </div>
		</div>
		<!-- End Page-->

		<!-- Back to top -->
        <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
        <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            //Client-side Javascript code for handling random numbers
            $(document).ready(function(){
                //connect to the socket server.
                xm_namespace = '/xm_socket';
                dukascopy_namespace = '/dukascopy_socket';
                forexfactory_namespace = '/forexfactory_socket';
                tradecaptain_namespace = '/tradecaptain_socket';
                dailyfx_namespace = '/dailyfx_socket';
                myfxbook_namespace = '/myfxbook_socket';
                saxo_1_namespace = '/saxo_1_socket';
                saxo_2_namespace = '/saxo_2_socket';
                saxo_3_atm_namespace = '/saxo_3_atm_socket';
                saxo_3_25_delta_namespace = '/saxo_3_25_delta_socket';
                oanda_namespace = '/oanda_socket';

                var xm_socket = io(xm_namespace);
                var dukascopy_socket = io(dukascopy_namespace);
                var forexfactory_socket = io(forexfactory_namespace);
                var tradecaptain_socket = io(tradecaptain_namespace);
                var dailyfx_socket = io(dailyfx_namespace);
                var myfxbook_socket = io(myfxbook_namespace);
                var saxo_1_socket = io(saxo_1_namespace);
                var saxo_2_socket = io(saxo_2_namespace);
                var saxo_3_atm_socket = io(saxo_3_atm_namespace);
                var saxo_3_25_delta_socket = io(saxo_3_25_delta_namespace);
                var oanda_socket = io(oanda_namespace);

                var numbers_received_xm = [];
                var numbers_received_dukascopy = [];
                var numbers_received_forexfactory = [];
                var numbers_received_tradecaptain = [];
                var numbers_received_dailyfx = [];
                var numbers_received_myfxbook = [];
                var numbers_received_saxo_1 = [];
                var numbers_received_saxo_2 = [];
                var numbers_received_saxo_3_atm = [];
                var numbers_received_saxo_3_25_delta = [];
                var numbers_received_oanda = [];

                // receive details from server
                xm_socket.on('forex_data_xm', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    // console.log("Received data : " + forex_data);
                    numbers_received_xm.push(forex_data);
                    for (var i = 0; i < numbers_received_xm.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_xm[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_xm[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_xm[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_xm[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_xm[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_xm[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_xm').html(table_body);
                });

                dukascopy_socket.on('forex_data_dukascopy', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    // console.log("Received data : " + forex_data);
                    numbers_received_dukascopy.push(forex_data);
                    for (var i = 0; i < numbers_received_dukascopy.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_dukascopy[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_dukascopy[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_dukascopy[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_dukascopy[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_dukascopy[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_dukascopy[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_dukascopy').html(table_body);
                });

                tradecaptain_socket.on('forex_data_tradecaptain', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    // console.log("Received data : " + forex_data);
                    numbers_received_tradecaptain.push(forex_data);
                    for (var i = 0; i < numbers_received_tradecaptain.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_tradecaptain[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_tradecaptain[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_tradecaptain[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_tradecaptain[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_tradecaptain[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_tradecaptain[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_tradecaptain').html(table_body);
                });

                dailyfx_socket.on('forex_data_dailyfx', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    // console.log("Received data : " + forex_data);
                    numbers_received_dailyfx.push(forex_data);
                    for (var i = 0; i < numbers_received_dailyfx.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_dailyfx[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_dailyfx[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_dailyfx[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_dailyfx[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_dailyfx[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_dailyfx[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_dailyfx').html(table_body);
                });

                forexfactory_socket.on('forex_data_forexfactory', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i]["date"]);
                        pair_data.push(msg.data[i]["time"]);
                        pair_data.push(msg.data[i]["instrument"]);
                        pair_data.push(msg.data[i]["long_traders"]);
                        pair_data.push(msg.data[i]["short_traders"]);
                        pair_data.push(msg.data[i]["long_traders_ratio"]);
                        pair_data.push(msg.data[i]["short_traders_ratio"]);
                        pair_data.push(msg.data[i]["long_positions"]);
                        pair_data.push(msg.data[i]["short_positions"]);
                        pair_data.push(msg.data[i]["long_positions_ratio"]);
                        pair_data.push(msg.data[i]["short_positions_ratio"]);
                        forex_data.push(pair_data);
                    }
                    
                    numbers_received_forexfactory.push(forex_data);
                    for (var i = 0; i < numbers_received_forexfactory.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Instrument</th>';
                        table_body += '<th class="wd-10p">Long Traders</th>';
                        table_body += '<th class="wd-10p">Short Traders</th>';
                        table_body += '<th class="wd-10p">Long Traders Ratio</th>';
                        table_body += '<th class="wd-10p">Short Traders Ratio</th>';
                        table_body += '<th class="wd-10p">Long Positions</th>';
                        table_body += '<th class="wd-10p">Short Positions</th>';
                        table_body += '<th class="wd-10p">Long Positions Ratio</th>';
                        table_body += '<th class="wd-10p">Short Positions Ratio</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_forexfactory[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][4] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][5] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][6] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][7] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][8] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][9] + '</td>';
                            table_body += '<td>' + numbers_received_forexfactory[i][j][10] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_forexfactory').html(table_body);
                });

                myfxbook_socket.on('forex_data_myfxbook', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i]["avgLongPrice"]); //0
                        pair_data.push(msg.data[i]["avgShortPrice"]); //1
                        // pair_data.push(msg.data[i]["country_data"]); //2
                        pair_data.push(msg.data[i]["cycle_num"]); //2
                        pair_data.push(msg.data[i]["date"]); //3
                        pair_data.push(msg.data[i]["time"]); //4
                        pair_data.push(msg.data[i]["longPercentage"]); //5
                        pair_data.push(msg.data[i]["longPositions"]); //6
                        pair_data.push(msg.data[i]["longVolume"]); //7
                        pair_data.push(msg.data[i]["name"]); //8
                        pair_data.push(msg.data[i]["shortPercentage"]); //9
                        pair_data.push(msg.data[i]["shortPositions"]); //10
                        pair_data.push(msg.data[i]["shortVolume"]); //11
                        pair_data.push(msg.data[i]["totalPositions"]); //12
                        pair_data.push(msg.data[i]["id"]); //13
                        forex_data.push(pair_data);
                    }
                    
                    numbers_received_myfxbook.push(forex_data);
                    for (var i = 0; i < numbers_received_myfxbook.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Instrument</th>';
                        table_body += '<th class="wd-10p">AvgLongPrice</th>';
                        table_body += '<th class="wd-10p">AvgShortPrice</th>';
                        table_body += '<th class="wd-10p">LongPercentage</th>';
                        table_body += '<th class="wd-10p">ShortPercentage</th>';
                        table_body += '<th class="wd-10p">LongPositions</th>';
                        table_body += '<th class="wd-10p">ShortPositions</th>';
                        table_body += '<th class="wd-10p">LongVolume</th>';
                        table_body += '<th class="wd-10p">ShortVolume</th>';
                        table_body += '<th class="wd-10p">TotalPositions</th>';
                        table_body += '<th class="wd-10p">By Country</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_myfxbook[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][4] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][8] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][5] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][9] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][6] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][10] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][7] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][11] + '</td>';
                            table_body += '<td>' + numbers_received_myfxbook[i][j][12] + '</td>';
                            table_body += '<td>' +'<a href="/get_outlook_by_country/' + numbers_received_myfxbook[i][j][13] + "_" + numbers_received_myfxbook[i][j][2] + "_" + numbers_received_myfxbook[i][j][8] + '" class="btn btn-red btn-secondary mr-2 mt-1 mb-1">View Details</a>'+ '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                        }
                    }

                    
                    $('#forex_data_myfxbook').html(table_body);
                });

                saxo_1_socket.on('forex_data_saxo_1', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    // console.log("Received data : " + forex_data);
                    numbers_received_saxo_1.push(forex_data);
                    for (var i = 0; i < numbers_received_saxo_1.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_saxo_1[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_saxo_1[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_1[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_1[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_1[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_1[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_saxo_1').html(table_body);
                });

                
                saxo_2_socket.on('forex_data_saxo_2', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    
                    numbers_received_saxo_2.push(forex_data);
                    for (var i = 0; i < numbers_received_saxo_2.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_saxo_2[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_saxo_2[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_2[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_2[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_2[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_2[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_saxo_2').html(table_body);
                });

                saxo_3_atm_socket.on('forex_data_saxo_3_atm', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i]["pair"]);
                        pair_data.push(msg.data[i]["spot"]);
                        pair_data.push(msg.data[i]["1w"]);
                        pair_data.push(msg.data[i]["1m"]);
                        pair_data.push(msg.data[i]["3m"]);
                        pair_data.push(msg.data[i]["6m"]);
                        pair_data.push(msg.data[i]["9m"]);
                        pair_data.push(msg.data[i]["1y"]);
                        pair_data.push(msg.data[i]["date"]);
                        pair_data.push(msg.data[i]["time"]);
                        forex_data.push(pair_data);
                    }
                    
                    
                    numbers_received_saxo_3_atm.push(forex_data);
                    for (var i = 0; i < numbers_received_saxo_3_atm.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-15p">Spot</th>';
                        table_body += '<th class="wd-15p">1w</th>';
                        table_body += '<th class="wd-15p">1m</th>';
                        table_body += '<th class="wd-15p">3m</th>';
                        table_body += '<th class="wd-15p">6m</th>';
                        table_body += '<th class="wd-15p">9m</th>';
                        table_body += '<th class="wd-15p">1y</th>';
                        table_body += '<th class="wd-20p">Date</th>';
                        table_body += '<th class="wd-20p">Time</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_saxo_3_atm[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][4] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][5] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][6] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][7] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][8] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_atm[i][j][9] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_saxo_3_atm').html(table_body);
                });

                saxo_3_25_delta_socket.on('forex_data_saxo_3_25_delta', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i]["pair"]);
                        pair_data.push(msg.data[i]["spot"]);
                        pair_data.push(msg.data[i]["1w"]);
                        pair_data.push(msg.data[i]["1m"]);
                        pair_data.push(msg.data[i]["3m"]);
                        pair_data.push(msg.data[i]["6m"]);
                        pair_data.push(msg.data[i]["9m"]);
                        pair_data.push(msg.data[i]["1y"]);
                        pair_data.push(msg.data[i]["date"]);
                        pair_data.push(msg.data[i]["time"]);
                        forex_data.push(pair_data);
                    }
                    
                    
                    numbers_received_saxo_3_25_delta.push(forex_data);
                    for (var i = 0; i < numbers_received_saxo_3_25_delta.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-15p">Spot</th>';
                        table_body += '<th class="wd-15p">1w</th>';
                        table_body += '<th class="wd-15p">1m</th>';
                        table_body += '<th class="wd-15p">3m</th>';
                        table_body += '<th class="wd-15p">6m</th>';
                        table_body += '<th class="wd-15p">9m</th>';
                        table_body += '<th class="wd-15p">1y</th>';
                        table_body += '<th class="wd-20p">Date</th>';
                        table_body += '<th class="wd-20p">Time</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_saxo_3_25_delta[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][4] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][5] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][6] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][7] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][8] + '</td>';
                            table_body += '<td>' + numbers_received_saxo_3_25_delta[i][j][9] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_saxo_3_25_delta').html(table_body);
                });

                oanda_socket.on('forex_data_oanda', function(msg) {
                    var forex_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var pair_data = [];
                        pair_data.push(msg.data[i].date);
                        pair_data.push(msg.data[i].time);
                        pair_data.push(msg.data[i].pair);
                        pair_data.push(msg.data[i].long);
                        pair_data.push(msg.data[i].short);
                        forex_data.push(pair_data);
                    }
                    
                    numbers_received_oanda.push(forex_data);
                    for (var i = 0; i < numbers_received_oanda.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Date</th>';
                        table_body += '<th class="wd-15p">Time</th>';
                        table_body += '<th class="wd-15p">Pair</th>';
                        table_body += '<th class="wd-20p">Long</th>';
                        table_body += '<th class="wd-15p">Short</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_oanda[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_oanda[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_oanda[i][j][1] + '</td>';
                            table_body += '<td>' + numbers_received_oanda[i][j][2] + '</td>';
                            table_body += '<td>' + numbers_received_oanda[i][j][3] + '</td>';
                            table_body += '<td>' + numbers_received_oanda[i][j][4] + '</td>';
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#forex_data_oanda').html(table_body);
                });

            });
        </script>

        <!-- Jquery js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery-3.2.1.min.js') }}"></script>
		
		<!--Bootstrap js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/bootstrap.bundle.min.js') }}"></script>
		
		<!--Jquery Sparkline js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/jquery.sparkline.min.js') }}"></script>
		
		<!-- Chart Circle js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/circle-progress.min.js') }}"></script>
		
		<!-- Star Rating js-->
		<script src="{{ url_for('static', filename='assets/plugins/rating/jquery.rating-stars.js') }}"></script>
		
		<!-- Custom scroll bar js-->
		<script src="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
		
		<!--Horizontal js-->
        <script src="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.js') }}"></script>
        
        <!-- Data tables js-->
		<script src="{{ url_for('static', filename='assets/plugins/datatable/jquery.dataTables.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/dataTables.bootstrap4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/datatable.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/plugins/datatable/datatable-2.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/datatable/dataTables.responsive.min.js') }}"></script>
        
        <!-- Select2 js -->
        <script src="{{ url_for('static', filename='assets/plugins/select2/select2.full.min.js') }}"></script>
        

		<!-- Custom js -->
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

	</body>
</html>