<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">

		<!-- Title -->
		<title>Forex Scraping | Scrapper List</title>

		<!-- Dashboard css -->
		<link href="{{ url_for('static', filename='assets/css/dashboard.css') }}" rel="stylesheet" />

		<!-- Font family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

		<!--C3 Charts css -->
        <link href="{{ url_for('static', filename='assets/plugins/charts-c3/c3-chart.css') }}" rel="stylesheet" />
        
        <!-- Data table css -->
		<link href="{{ url_for('static', filename='assets/plugins/datatable/dataTables.bootstrap4.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/datatable/responsivebootstrap4.min.css') }}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />

		<!--Horizontal css -->
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/dropdown-effects/fade-down.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.css') }}" rel="stylesheet" />

		<!-- jvectormap css -->
        <link href="{{ url_for('static', filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />

		<!---Font icons css-->
		<link href="{{ url_for('static', filename='assets/plugins/iconfonts/plugin.css') }}" rel="stylesheet" />
		<link  href="{{ url_for('static', filename='assets/fonts/fonts/font-awesome.min.css') }}" rel="stylesheet">

	</head>
	<body class="app sidebar-mini rtl">

		<!--Global-Loader-->
		<div id="global-loader"></div>

		<div class="page">
			<div class="page-main">
				<!--Horizontal-menu-->
				<div class="horizontal-main clearfix">
					<div class="horizontal-mainwrapper container clearfix">
						<nav class="horizontalMenu clearfix">
							<ul class="horizontalMenu-list">
								<li aria-haspopup="true"><a href="/" class="">Live Data</a></li>
								<li aria-haspopup="true"><a href="/scrappers" class="">Scrappers</a></li>
							</ul>
						</nav>
						<!--Menu HTML Code-->
					</div>
				</div>

                <!--content-area-->
				<div class="content-area">
					<div class="container">

					    <!-- page-header -->
						<div class="page-header">
							<h4 class="page-title">Manage Scrappers</h4>
						</div>
						<!-- End page-header -->

                        <!-- row -->
						<div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Scrapper Status</div>
                                    </div>
                                    <a href="/stop" class="btn btn-purple" >Reset</a>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="scrapper_status" class="table table-striped table-bordered text-nowrap w-100">
                                            </table>
                                        </div>
                                    </div>
                                    <!-- table-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
						</div>
                        <!-- End row -->
					</div>
				</div>
                <!-- End content-area-->
                <!-- Large Modal -->
                <div id="largeModal" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header pd-x-20">
                                <h6 class="modal-title">Info</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pd-20">
                                <textarea id="output" rows="5" class="form-control" placeholder="Searching for Not Applied Housings" ></textarea>
                            </div><!-- modal-body -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div><!-- modal-dialog -->
                </div><!-- modal -->

                <!-- Large Modal -->
                <div id="largeModal_housing" class="modal fade">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header pd-x-20">
                                <h6 class="modal-title">Info</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pd-20">
                                <div class="grid-margin">
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table card-table  table-success table-vcenter text-nowrap  align-items-center">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Scrapper List</th>
                                                    </tr>
                                                </thead>
                                                <tbody id = "output_housing_table">
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- modal-body -->
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div><!-- modal-dialog -->
                </div><!-- modal -->
            </div>
		</div>
		<!-- End Page-->

		<!-- Back to top -->
        <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

        <!-- Jquery js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery-3.2.1.min.js') }}"></script>
		
		<!--Bootstrap js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/bootstrap.bundle.min.js') }}"></script>
		
		<!--Jquery Sparkline js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/jquery.sparkline.min.js') }}"></script>
		
		<!-- Chart Circle js-->
		<script src="{{ url_for('static', filename='assets/js/vendors/circle-progress.min.js') }}"></script>
		
		<!-- Star Rating js-->
		<script src="{{ url_for('static', filename='assets/plugins/rating/jquery.rating-stars.js') }}"></script>
		
		<!-- Custom scroll bar js-->
		<script src="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
		
		<!--Horizontal js-->
		<script src="{{ url_for('static', filename='assets/plugins/horizontal-menu/horizontal.js') }}"></script>

		<!-- Custom js -->
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
        
        <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            //Client-side Javascript code for handling random numbers
            $(document).ready(function(){
                //connect to the socket server.
                scrapper_namespace = '/scrapper_data_socket';

                var scrapper_socket = io(scrapper_namespace);

                var numbers_received_scrapper = [];
                // receive details from server
                scrapper_socket.on('scrapper_data', function(msg) {
                    var scrapper_data = [];
                    for (var i = 0; i < msg.data.length; i++) {
                        var data = [];
                        data.push(msg.data[i].name);
                        data.push(msg.data[i].frequency);
                        data.push(msg.data[i].status);
                        scrapper_data.push(data);
                    }

                    numbers_received_scrapper.push(scrapper_data);
                    for (var i = 0; i < numbers_received_scrapper.length; i++){
                        table_body = '';
                        table_body += '<thead>';
                        table_body += '<tr>';
                        table_body += '<th class="wd-15p">Name</th>';
                        table_body += '<th class="wd-15p">Frequency</th>';
                        table_body += '<th class="wd-15p">Status</th>';
                        table_body += '<th class="wd-20p">Turn On</th>';
                        table_body += '</tr>';
                        table_body += '</thead>';
                        for (var j=0; j < numbers_received_scrapper[i].length; j++){
                            table_body += '<tbody>';
                            table_body += '<tr>';
                            table_body += '<td>' + numbers_received_scrapper[i][j][0] + '</td>';
                            table_body += '<td>' + numbers_received_scrapper[i][j][1] + '</td>';
                            if (numbers_received_scrapper[i][j][2] == 0) {
                                table_body += '<td>' + '<div class="btn btn-red">Turned Off</div>' + '</td>';
                                table_body += '<td>' + '<a href="/start_' + numbers_received_scrapper[i][j][0] + '" class="btn btn-app btn-info mr-2 mt-1 mb-1"><i class="fa fa-play"></i>Turn On</a>' + '</td>';
                            }
                            else{
                                table_body += '<td>' + '<div class="btn btn-blue">Turned On</div>' + '</td>';
                                table_body += '<td>' + '<a class="btn btn-gray btn-secondary mr-2 mt-1 mb-1">Disabled</a>' + '</td>';
                            }
                            
                            
                            table_body += '</tr>';
                            table_body += '</tbody>';
                            
                        }
                    }
                    
                    $('#scrapper_status').html(table_body);
                });
            });
        </script>

        <script lang="javascript">
            //log details
            $(".btn_output").click(function (e) {
                var id = e.target.id;
                var text = ""
                text += $("input#"+id).val()
                $("#output").html(text);
            });

            //available housings
            $(".available").click(function (e) {
                var id = e.target.id;
                var text = ""
                text += $("input#"+id).val()
                var nameArr = text.split(',');
                var html = "";
                for (var i =0; i < nameArr.length; i++) {
                    html += "<tr>";
                    html += "<td>" + nameArr[i] + "</td>"
                    html += "</tr>";
                }
                $("#output_housing_table").html(html);
            });
        </script>

		

	</body>
</html>